@import url(https://db.onlinewebfonts.com/c/b1de76f2d448dcdf44d092114d6ba04a?family=Museo+Sans+700);

body {
    font-family: 'Museo Sans 700';
    margin: 0;
}

div.header {
    display: flex;
    align-items: center;
    color: white;
    background-color: rgb(116, 34, 18);
    font-family: 'Museo Sans 700';
}

div.header > img {
    margin-right: 10px;
}

.notice {
    margin: 15px;
    color: red;
}

button {
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    color: inherit;
    font: inherit;
    margin: 0px;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    cursor: pointer;
    margin-left: 0px;
}

.other {
    margin: 15px;
}
